body{
    background-image: url(fotos/fondo.jpg);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

form {
    background-color: #fff;
	box-shadow: 0 0 20px rgba( 0, 0, 0, 0.2);
    padding: 50px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 380px;
}

h1 {
	padding: 12px;
	color: #0d0d0d
}

input {
    color: #0d0d0d;
	width: 90%;
	padding: 20px 15px 20px;
	border-radius: 25px;
    border: 0;
	margin-top: 30px;
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    outline: none;
    font-size: 16px;
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	margin: 0 5%;
	margin-top: 22px;
    cursor: pointer;
}

input[type='submit']:hover{
	background-color: rgb(105, 155, 231);
}

.invitado{
    text-decoration: none;
    color: white;
	margin: 0 5%;
	margin-top: 22px;
    cursor: pointer;
    background-color: rgb(230, 97, 97);
    width: 81%;
	padding: 20px 15px 20px;
	border-radius: 25px;
    border: 0;
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    outline: none;
}

.invitado:hover{
	background-color: rgb(219, 113, 113);
}
.rol-usuario {
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Hace que el texto sea más grueso */
    color: #2c3e50; /* Cambia el color del texto */
    background-color: #ecf0f1; /* Color de fondo claro */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block; /* Para que el fondo se ajuste al texto */
    margin-top: 10px; /* Espacio superior */
}